{% load static %}

<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
           <li><a href="https://github.com/h41pa"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
           <li><a href=""><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
            <li><a href=""><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
            <li><a href="https://www.linkedin.com/in/h41pa/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
            <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://github.com/h41pa" target="_blank"> h41pa</a></p>
        </div>


    </div>
    </div>

</footer>
<!-- ================================
End Footer
================================= -->