{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title%}{% endblock %}</title>
    <meta name="author" content="Website Portfolio by https://github.com/h41pa">
    <link rel="canonical" href="{{request.path}}">
    <link rel="home" href="{% url 'app:home' %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <link rel="shorcut icon" type="image/x-icon" href="{% static 'images/icon.jpg' %}">


    <!-- ================================
    Start CSS
    ================================= -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.css">

    <!-- ================================
    End CSS
    ================================= -->
  </head>
  <body>

    {% include 'extra/messages.html' %}
    {% include 'extra/nav.html' %}

    {% block content %}
    {% endblock %}

    {% include 'extra/footer.html' %}

    <!-- ================================
    Start Scripts
    ================================= -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block extend_footer %}{% endblock %}

    <!-- ================================
    End Scripts
    ================================= -->

  </body>
</html>