{% extends 'base.html' %}
{% load static %}


<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}

{% for port in portfolios %}
<a href="{% url 'portfolio:portfolio' slug=port.slug%}">{{port.name}}<br><img src="{{port.image.url}}"></a><br>
{% endfor %}

{% endblock %}
<!-- ================================
End Content
================================= -->